<ul>
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Servicos")">Serviços</a></li>
    <li><a href="Sobre.html">Sobre</a></li>
    <li><a href="Planos.html">Planos</a></li>
    <li><a href="Contato.html">Contato</a></li>
</ul>